POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=default
POSTGRES_HOST=localhost
GOBAN_DEVELOPMENT=true

GOBAN_TEST_DIR_DJANGO=./goban-server-django
# GOBAN_TEST_DIR_DJANGO=~/git/goban-server-django
GOBAN_TEST_DIR_FASTAPI=./goban-server-fastapi
# GOBAN_TEST_DIR_FASTAPI=~/git/goban-server-fastapi
