# Change to your domain
GOBAN_HOST=go.chiquit.ooo

# These values will work with the docker-compose postgres
# These should be changed in production
POSTGRES_NAME=default
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres

# GOBAN_SECRET_KEY should be generated using generate-secret-key.sh
